<ion-view view-title="Team Roster">

  <ion-content class="padding">
<!--  <div class="bg"> -->

   <div class ="outside">


  <style>
         table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
         }

         table tr:nth-child(odd) {
          /*  background-color: #f2f2f2; */
         }

         table tr:nth-child(even) {
          /*  background-color: #ffffff; */
         }
  </style>


  <table border="0">
        <thead>
            <tr>
                <th>Remove</th>
                <th>Name</th>
              <!--  <th>#Number</th>  -->
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="player in player_details">
                <td><a class="button ion-android-minus" ng-click = "remove_player(player)"></a></td>
                <td>{{player.player_fname}} {{player.player_lname}}</td>
                <!-- <td>{{player.number}}</td>  -->
                <td>{{player.player_prole}}</td>
            </tr>
        </tbody>
    </table>
    <p><a href="#/editRoster" class="button icon-left ion-android-add">Add Player</a></p>
    <p><a href="#/news" class="button icon-left ion-home">Home</a></p>
  </div>


<!--  </div> -->
  </ion-content>
</ion-view>
