
<ion-view view-title="Add New Player" >
        <ion-content class="padding-top">
          <div class="list text-center padding">
          </div>
          <h1> Potatoes are always watching </h1>
          <form novalidate="" name="playerForm" form-manager>
          <div class="list">
            <label class="item item-input item-floating-label"
            ng-class="{ 'has-error' : playerForm.txtplayerfname.$invalid && playerForm.$submitted }">
              <span class="input-label">Player First Name</span>
              <input name="txtplayerfname" type="text" ng-model="player.player_fname"
              placeholder="First Name"
              >
            </label>



            <label class="item item-input item-floating-label"
              ng-class="{ 'has-error' : playerForm.txtplayerfname.$invalid && playerForm.$submitted }">
              <span class="input-label">Player Last Name</span>
              <input name="txtplayerlname" type="text" ng-model="player.player_lname"
              placeholder="Last Name"
              >
            </label>


          <label class="item item-input item-floating-label"
          ng-class="{ 'has-error' : playerForm.txtplayerprole.$invalid && playerForm.$submitted }">
            <span class="input-label">Primary Role</span>
            <input name="txtplayerprole" type="text" ng-model="player.playerprole"
            placeholder="Primary Role"
            >
          </label>


          <label class="item item-input item-floating-label"
          ng-class="{ 'has-error' : playerForm.txtplayersrole.$invalid && playerForm.$submitted }">
            <span class="input-label">Secondary Role</span>
            <input name="txtplayersrole" type="text" ng-model="player.playersrole"
            placeholder="Secondary Role"
            >
          </label>



          </div>
          <div class="padding-top">
            <button ng-click="submit()"  class = "button button-block button-calm">
              Submit
            </button>
          </div>
        </form>

        </ion-content>
</ion-view>
