<ion-view view-title="Add New Player" >
  <div class = "red_bg">
        <ion-content class="padding-top">
          <form name="Players" ng-submit="doSubmitPlayer(playerSubmit)" novalidate>
              <div class="list">

                <label class="item item-input item-stacked-label">
          		    <span class="input-label">First Name</span>
          		    <input type="text" ng-model="$parent.playerSubmit.fname" id="fname" placeholder="First Name">
          		  </label>

                <label class="item item-input item-stacked-label">
          		    <span class="input-label">Last Name</span>
          		    <input type="text" ng-model="$parent.playerSubmit.lname" id="lname" placeholder="Last Name">
          		  </label>
                &nbsp;&nbsp;
                <label class="item item-input item-select">
                  <span class="input-label">
                    Role
                  </span>
                  <select ng-model="$parent.playerSubmit.role" placeholder="Select Role">
                    <option>Batsman</option>
                    <option>Bowler</option>
                    <option>Wicket Keeper</option>
                    <option>All Rounder</option>
                  </select>
                </label>

                <div class="padding">
                  <button type="submit" class="button button-outline button-block button-assertive">Submit</button>
                </div>

            </form>
<!--
<ion-view view-title="Add New Player" >
  <div class = "red_bg">
        <ion-content class="padding-top">
          <form novalidate="" name="playerForm" form-manager>
          <div class="list">
            <label class="item item-input item-stacked-label"
            ng-class="{ 'has-error' : playerForm.txtplayerfname.$invalid && playerForm.$submitted }">
              <span class="input-label">First Name</span>
              <input name="txtplayerfname" type="text" ng-model="player.player_fname"
              placeholder="First Name"
              >
            </label>



            <label class="item item-input item-stacked-label"
              ng-class="{ 'has-error' : playerForm.txtplayerfname.$invalid && playerForm.$submitted }">
              <span class="input-label">Last Name</span>
              <input name="txtplayerlname" type="text" ng-model="player.player_lname"
              placeholder="Last Name"
              >
            </label>


          <label class="item item-input item-stacked-label"
          ng-class="{ 'has-error' : playerForm.txtplayerprole.$invalid && playerForm.$submitted }">
            <span class="input-label">Primary Role</span>
            <input name="txtplayerprole" type="text" ng-model="player.playerprole"
            placeholder="Primary Role"
            >
          </label>


          <label class="item item-input item-stacked-label"
          ng-class="{ 'has-error' : playerForm.txtplayersrole.$invalid && playerForm.$submitted }">
            <span class="input-label">Secondary Role</span>
            <input name="txtplayersrole" type="text" ng-model="player.playersrole"
            placeholder="Secondary Role"
            >
          </label>



          </div>
          <div class="padding-top">
            <button ng-click="submit()" class="button button-outline button-block button-assertive">Submit</button>
          </div>
        </form>
        <p><a href="#/news" class="button icon-left ion-home">Home</a></p>
        </ion-content>
  </div>
</ion-view>
-->
