<ion-view view-title="Manager" hide-back-button="false">
        <ion-content class="padding">
          <h1>Welcome!</h1>

          <p><a href="#/scheduler" class="button button-clear button-positive">Edit Schedule</a></p>
          <p><a href="#/adminRoster" class="button button-clear button-positive">Edit Roster</a></p>
          <p><a href="#/health" class="button button-clear button-positive">Health Records</a></p>
          <p><a href="#/budget" class="button button-clear button-positive">Budget Records</a></p>
          <p><a href="#/report" class="button button-clear button-positive">Monthly Log Report</a></p>
        </ion-content>
</ion-view>
