<ion-view view-title="Manager" hide-back-button="false">
  <div class="red_bg">
        <ion-content class="padding">
          <h1>Welcome!</h1>
          <p><a href="#/scheduler" ><button class="button icon-left ion-grid">Edit Schedule</button></a></p>

          <p><a href="#/adminRoster" ><button class="button icon-left ion-clipboard">Edit Roster</button></a></p>
          <p><a href="#/health" ><button class="button icon-left ion-document">Injuries</button></a></p>
        <!--  <p><a href="" class="button button-clear button-positive">Budget Records</a></p>-->
          <p><a href="#/report" ><button class="button icon-left ion-flag">Update News</button></a></p>






       <!--   <p><a ><button ng-click="doLogout()" class="button button-clear button-assertive icon-left ion-log-out">Logout</button></a></p>-->

          <p><a href="#/news" ><button class="button button-clear button-assertive icon-left ion-home">Home</button></a></p>
          <div ng-controller="appController">
            <p><a ng-click="doLogout()" ><button class="button button-clear button-assertive icon-left ion-log-out">Logout</button></a></p>
          </div>
        </ion-content>
  </div>
</ion-view>
