<ion-view view-title="News">
  <div class = "red_bg">
  <ion-content class="padding">
    <br><br><br>
    <div class="list card" ng-repeat="item in news" type="item-text-wrap">
      <a href="#/news/{{item.news_id}}" class="item item-icon-left" type="item-text-wrap">

        <div class="text-left" type="item-text-wrap"><strong>{{item.news_title}}</strong></div>
        <div class = "text-right">{{item.news_time}}</div>

      </a>
    </div>

<div class="text-center">
  <button class="button button-outline button-block button-assertive">
    Show More
  </button>
</div>
</div>

  </ion-content>
  <ion-tabs class="tabs-icon-top tabs-color-active-assertive">
    <ion-tab title="News" icon-off="ion-ios-home-outline" icon-on="ion-ios-home-outline" href="#/news">
      <ion-nav-view name="news"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Calendar" icon-off="ion-calendar" icon-on="ion-calendar" href="#/calendar">
      <ion-nav-view name="calendar"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Roster" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/roster">
      <ion-nav-view name="roster"></ion-nav-view>
    </ion-tab>

  <div ng-controller="appController">
    <ion-tab class = "{{hideManagerTab()}}"
     icon-off="ion-pinpoint" icon-on="ion-pinpoint" href="#/manager">
      <ion-nav-view name="manager"></ion-nav-view>
    </ion-tab>
  </div>
  </ion-tabs>
  </div>

</ion-view>
<!--
<ion-view view-title="News">
  <div class = "red_bg">
  <ion-content class="padding">
    <ion-list>
    <div class ="outside">
      <br><br><br>
      <ion-item class="list card item-remove-animate  item-icon-right" ng-repeat="item in news" type="item-text-wrap" href="#/news/{{item.news_id}}">
        <h2>
          <div class="text-center"><strong>{{item.news_title}}</strong></div>
        </h2>
        <p>
          <div class = "text-right">{{item.news_time}}</div>
        </p>

        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(item)">
          Hide
        </ion-option-button>

      </ion-item>
    </ion-list>

<div class="text-center">
  <button class="button button-outline button-block button-assertive">
    Show More
  </button>
</div>
</div>

  </ion-content>
  <ion-tabs class="tabs-icon-top tabs-color-active-assertive">
    <ion-tab title="News" icon-off="ion-ios-home-outline" icon-on="ion-ios-home-outline" href="#/news">
      <ion-nav-view name="news"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Calendar" icon-off="ion-calendar" icon-on="ion-calendar" href="#/calendar">
      <ion-nav-view name="calendar"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Roster" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/roster">
      <ion-nav-view name="roster"></ion-nav-view>
    </ion-tab>

  <div ng-controller="appController">
    <ion-tab class = "{{hideManagerTab()}}"
     icon-off="ion-pinpoint" icon-on="ion-pinpoint" href="#/manager">
      <ion-nav-view name="manager"></ion-nav-view>
    </ion-tab>
  </div>
  </ion-tabs>
  </div>

</ion-view>
-->
