<ion-view view-title="Team Roster">
  <div class="red_bg">
  <ion-content class="padding">


   <div class ="outside">


   <style>
          table, th , td {
             background-color: #ffffff;
             border: 1px solid grey;
             border-collapse: collapse;
             padding: 5px;
          }


   </style>


   <table border="0">
         <thead>
             <tr>
                 <th>Name</th>
                 <th>Position</th>
             </tr>
         </thead>
         <tbody>
             <tr ng-repeat="player in player_details">
                 <td><u>{{player.player_fname}} {{player.player_lname}}</u></td>
                 <td>{{player.player_role}}</td>
             </tr>
         </tbody>
     </table>

  </div>


  </div>
  </ion-content>
</ion-view>
